<a href="https://colab.research.google.com/github/artakhm/HomeCredit/blob/master/table_agg_hame_credit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import sklearn as sk
import seaborn as sns
import lightgbm as lgb
import matplotlib.pyplot as plt
sns.set(style="darkgrid")

from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import OneHotEncoder
from google.colab import drive  
drive.mount('/content/drive')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Mounted at /content/drive

In [ ]:
description = pd.read_csv('/content/drive/My Drive/HomeCredit/HomeCredit_columns_description.csv', encoding = "ISO-8859-1", index_col='Unnamed: 0')

In [ ]:
description.head()

                          Table  ... Special
1  application_{train|test}.csv  ...     NaN
2  application_{train|test}.csv  ...     NaN
5  application_{train|test}.csv  ...     NaN
6  application_{train|test}.csv  ...     NaN
7  application_{train|test}.csv  ...     NaN

[5 rows x 4 columns]

## APPLICATION TRAIN

In [ ]:
train = pd.read_csv('/content/drive/My Drive/HomeCredit/application_train.csv')

In [ ]:
train["DAYS_EMPLOYED"].replace({365243: np.nan}, inplace = True)

In [ ]:
train= train.fillna(train.median())
train = train.apply(lambda x:x.fillna(x.value_counts().index[0]))

In [ ]:
train['CREDIT_INCOME_PERCENT'] = train['AMT_CREDIT'] / train['AMT_INCOME_TOTAL']
train['ANNUITY_INCOME_PERCENT'] = train['AMT_ANNUITY'] / train['AMT_INCOME_TOTAL']
train['CREDIT_TERM'] = train['AMT_ANNUITY'] / train['AMT_CREDIT']
train['DAYS_EMPLOYED_PERCENT'] = train['DAYS_EMPLOYED'] / train['DAYS_BIRTH']
train['INCOME_PER_PERSON'] = train['AMT_INCOME_TOTAL'] / train['CNT_FAM_MEMBERS']
train['ANNUITY_INCOME_PERC'] = train['AMT_ANNUITY'] / train['AMT_INCOME_TOTAL']

In [ ]:
train.shape

(307511, 128)

## POS_CASH

In [ ]:
description.loc[description.Table=='POS_CASH_balance.csv']

                    Table  ...                                Special
145  POS_CASH_balance.csv  ...                                    NaN
146  POS_CASH_balance.csv  ...                                    NaN
147  POS_CASH_balance.csv  ...  time only relative to the application
148  POS_CASH_balance.csv  ...                                    NaN
149  POS_CASH_balance.csv  ...                                    NaN
150  POS_CASH_balance.csv  ...                                    NaN
151  POS_CASH_balance.csv  ...                                    NaN
152  POS_CASH_balance.csv  ...                                    NaN

[8 rows x 4 columns]

In [ ]:
pos_cash = pd.read_csv('/content/drive/My Drive/HomeCredit/POS_CASH_balance.csv')

In [ ]:
pos_cash.isna().sum()

SK_ID_PREV                   0
SK_ID_CURR                   0
MONTHS_BALANCE               0
CNT_INSTALMENT           26071
CNT_INSTALMENT_FUTURE    26087
NAME_CONTRACT_STATUS         0
SK_DPD                       0
SK_DPD_DEF                   0
dtype: int64

In [ ]:
cat_cols = [col for col in pos_cash.columns if pos_cash[col].dtype == 'object']
pos_cash = pd.get_dummies(pos_cash, columns= cat_cols, dummy_na= True)
aggregations = {
        'MONTHS_BALANCE': ['max', 'mean', 'size', 'std'],
        'SK_DPD': ['max', 'mean', 'std'],
        'SK_DPD_DEF': ['max', 'mean', 'std']
}
name_cols = pos_cash.columns[7:]
for col in name_cols : aggregations[col] = ['mean'] 

pos_cash_agg = pos_cash.groupby('SK_ID_CURR').agg(aggregations)
pos_cash_agg.columns = pd.Index(['POS_' + e[0] + "_" + e[1].upper() for e in pos_cash_agg.columns.tolist()]) #переназвать колонки
pos_cash_agg['PREV_CRED_COUNT'] = pos_cash.groupby('SK_ID_CURR').size() # количество взятых ранее кредитов

In [ ]:
pos_cash_agg

            POS_MONTHS_BALANCE_MAX  ...  PREV_CRED_COUNT
SK_ID_CURR                          ...
100001                         -53  ...                9
100002                          -1  ...               19
100003                         -18  ...               28
100004                         -24  ...                4
100005                         -15  ...               11
...                            ...  ...              ...
456251                          -1  ...                9
456252                         -76  ...                7
456253                         -57  ...               17
456254                          -1  ...               20
456255                          -2  ...               71

[337252 rows x 21 columns]

In [ ]:
# pos_cash_agg.to_csv('/content/drive/My Drive/HomeCredit/POS_CAHS_agg.csv')
train = pd.merge(train, pos_cash_agg, on='SK_ID_CURR', how='left')

In [ ]:
train.shape

(307511, 149)

## PREVIOUS APPLICATIONS

In [ ]:
description.loc[description.Table=='previous_application.csv']

                        Table  ...                                Special
176  previous_application.csv  ...                                 hashed
177  previous_application.csv  ...                                 hashed
178  previous_application.csv  ...                                    NaN
179  previous_application.csv  ...                                    NaN
180  previous_application.csv  ...                                    NaN
181  previous_application.csv  ...                                    NaN
182  previous_application.csv  ...                                    NaN
183  previous_application.csv  ...                                    NaN
184  previous_application.csv  ...                                    NaN
185  previous_application.csv  ...                                rounded
186  previous_application.csv  ...                                    NaN
187  previous_application.csv  ...                                    NaN
188  previous_application.csv  ...                                    NaN
189  previous_application.csv  ...                             normalized
190  previous_application.csv  ...                             normalized
191  previous_application.csv  ...                             normalized
192  previous_application.csv  ...                                    NaN
193  previous_application.csv  ...                                    NaN
194  previous_application.csv  ...  time only relative to the application
195  previous_application.csv  ...                                    NaN
196  previous_application.csv  ...                                    NaN
197  previous_application.csv  ...                                    NaN
198  previous_application.csv  ...                                    NaN
199  previous_application.csv  ...                                    NaN
200  previous_application.csv  ...                                    NaN
201  previous_application.csv  ...                                    NaN
202  previous_application.csv  ...                                    NaN
203  previous_application.csv  ...                                    NaN
204  previous_application.csv  ...                                    NaN
205  previous_application.csv  ...                                    NaN
206  previous_application.csv  ...                                grouped
207  previous_application.csv  ...                                    NaN
208  previous_application.csv  ...  time only relative to the application
209  previous_application.csv  ...  time only relative to the application
210  previous_application.csv  ...  time only relative to the application
211  previous_application.csv  ...  time only relative to the application
212  previous_application.csv  ...  time only relative to the application
213  previous_application.csv  ...                                    NaN

[38 rows x 4 columns]

In [ ]:
prev_app = pd.read_csv('/content/drive/My Drive/HomeCredit/previous_application.csv')

In [ ]:
original_columns = list(prev_app.columns) #One Hot
cat_cols = [col for col in prev_app.columns if prev_app[col].dtype == 'object']
prev_app = pd.get_dummies(prev_app, columns= cat_cols, dummy_na= True)
onehot_cols = [col for col in prev_app.columns if col not in original_columns] # Новые колонки чтобы агрегировать по ним

In [ ]:
prev_app['DAYS_FIRST_DRAWING'].replace(365243, np.nan, inplace= True) #пофиксить шум
prev_app['DAYS_FIRST_DUE'].replace(365243, np.nan, inplace= True)
prev_app['DAYS_LAST_DUE_1ST_VERSION'].replace(365243, np.nan, inplace= True)
prev_app['DAYS_LAST_DUE'].replace(365243, np.nan, inplace= True)
prev_app['DAYS_TERMINATION'].replace(365243, np.nan, inplace= True)
prev_app['APP_CREDIT_PERC'] = prev_app['AMT_APPLICATION'] / prev_app['AMT_CREDIT']


aggregations = {
  'AMT_ANNUITY': ['min', 'max', 'mean'],
  'AMT_APPLICATION': ['min', 'max', 'mean'],
  'AMT_CREDIT': ['min', 'max', 'mean'],
  'APP_CREDIT_PERC': ['min', 'max', 'mean', 'var'],
  'AMT_DOWN_PAYMENT': ['min', 'max', 'mean'],
  'AMT_GOODS_PRICE': ['min', 'max', 'mean'],
  'HOUR_APPR_PROCESS_START': ['min', 'max', 'mean'],
  'RATE_DOWN_PAYMENT': ['min', 'max', 'mean'],
  'DAYS_DECISION': ['min', 'max', 'mean'],
  'CNT_PAYMENT': ['mean', 'sum'],
}
aggregations = {}
for col in onehot_cols: aggregations[col] = ['mean']

prev_app_agg = prev_app.groupby('SK_ID_CURR').agg(aggregations)
prev_app_agg.columns = pd.Index(['PREV_' + e[0] + "_" + e[1].upper() for e in prev_app_agg.columns.tolist()]) #переназвать колонки, чтобы было понятно 
# Previous Applications: Approved Applications - only numerical features
# approved = prev_app[prev_app['NAME_CONTRACT_STATUS_Approved'] == 1]
# approved_agg = approved.groupby('SK_ID_CURR').agg(num_aggregations)
# approved_agg.columns = pd.Index(['APPROVED_' + e[0] + "_" + e[1].upper() for e in approved_agg.columns.tolist()])
# prev_app_agg = prev_app_agg.join(approved_agg, how='left', on='SK_ID_CURR')
# # Previous Applications: Refused Applications - only numerical features
# refused = prev_app[prev_app['NAME_CONTRACT_STATUS_Refused'] == 1]
# refused_agg = refused.groupby('SK_ID_CURR').agg(num_aggregations)
# refused_agg.columns = pd.Index(['REFUSED_' + e[0] + "_" + e[1].upper() for e in refused_agg.columns.tolist()])
# prev_app_agg = prev_app_agg.join(refused_agg, how='left', on='SK_ID_CURR')

In [ ]:
prev_app_agg

            PREV_NAME_CONTRACT_TYPE_Cash loans_MEAN  ...  PREV_PRODUCT_COMBINATION_nan_MEAN
SK_ID_CURR                                           ...
100001                                     0.000000  ...                                0.0
100002                                     0.000000  ...                                0.0
100003                                     0.333333  ...                                0.0
100004                                     0.000000  ...                                0.0
100005                                     0.500000  ...                                0.0
...                                             ...  ...                                ...
456251                                     0.000000  ...                                0.0
456252                                     0.000000  ...                                0.0
456253                                     0.000000  ...                                0.0
456254                                     0.000000  ...                                0.0
456255                                     0.500000  ...                                0.0

[338857 rows x 159 columns]

In [ ]:
# prev_app_agg.to_csv('/content/drive/My Drive/HomeCredit/previous_applications_agg.csv')
train = pd.merge(train, prev_app_agg, on='SK_ID_CURR', how='left')

In [ ]:
train.shape

(307511, 308)

## BUREU

In [ ]:
def one_hot_encoder(df):
    categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    return pd.get_dummies(df, columns=categorical_columns, dummy_na=True)

In [ ]:
bureau = pd.read_csv('/content/drive/My Drive/HomeCredit/bureau.csv')
cnt_active_loans = bureau[bureau.CREDIT_ACTIVE == 'Active'].groupby('SK_ID_CURR', as_index=False)['CREDIT_ACTIVE'].count()
cnt_closed_loans = bureau[bureau.CREDIT_ACTIVE == 'Closed'].groupby('SK_ID_CURR', as_index=False)['CREDIT_ACTIVE'].count()
# Мерджим фичи

train = train.merge(cnt_active_loans, on = 'SK_ID_CURR', how = 'left').fillna(0)
train = train.merge(cnt_closed_loans, on = 'SK_ID_CURR', how = 'left').fillna(0)

cnt_numeric_fields_statistics = bureau.drop(columns = ['SK_ID_BUREAU']).groupby('SK_ID_CURR', as_index = False).agg(['min', 'max', 'mean', 'sum'])
cnt_numeric_fields_statistics.reset_index(inplace=True)

columns = ['SK_ID_CURR']
for column in cnt_numeric_fields_statistics.columns.levels[0]:
    if column != 'SK_ID_CURR':
        for stat in cnt_numeric_fields_statistics.columns.levels[1][:-1]:
            columns.append('bureau_%s_%s' % (column, stat))

cnt_numeric_fields_statistics.columns = columns

train = train.merge(cnt_numeric_fields_statistics, on = 'SK_ID_CURR', how = 'left').fillna(0)

credit_type_ohe = one_hot_encoder(bureau)

credit_type_ohe = credit_type_ohe.groupby('SK_ID_CURR', as_index=False).count()

train = train.merge(credit_type_ohe, on = 'SK_ID_CURR', how = 'left').fillna(0)

In [ ]:
train.shape

(307511, 397)

## INSTALLMENTS PAYMENTS и CREDIT CARD BALANCE

In [ ]:
IP = pd.read_csv('/content/drive/My Drive/HomeCredit/installments_payments.csv')
BadSKID = list(IP[IP['DAYS_ENTRY_PAYMENT'].isna()]['SK_ID_CURR'])
new = IP[['SK_ID_CURR', 'AMT_INSTALMENT', 'AMT_PAYMENT', 'DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT']]

def f(x):
  if x['SK_ID_CURR'] in BadSKID:
    x['IN_BLACK_LIST'] = 'bad'
  return x


del IP
new = new.dropna()
new = new.groupby(['SK_ID_CURR'], as_index=False).sum()
new['IN_BLACK_LIST'] = 'good'
new['DAYS_GONE'] = new['DAYS_ENTRY_PAYMENT'] - new['DAYS_INSTALMENT']
new = new.apply(f, axis=1)
new = new.drop(columns=['DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT'])

credit_card_balance = pd.read_csv('/content/drive/My Drive/HomeCredit/credit_card_balance.csv')
cc = credit_card_balance[['SK_ID_CURR', 'SK_DPD', 'SK_DPD_DEF']]
cc = cc.groupby(['SK_ID_CURR'], as_index=False).sum()
new_ohe = one_hot_encoder(new)
values = {'SK_DPD': 0, 'SK_DPD_DEF': 0, 'AMT_INSTALMENT': 0, 'AMT_PAYMENT': 0, 'DAYS_GONE': 0}
train = pd.merge(train, cc, how='left', on='SK_ID_CURR')
train = pd.merge(train, new_ohe, how='left', on='SK_ID_CURR')
train = train.fillna(value=values)

In [ ]:
train.shape

(307511, 405)

## BUREAU_BALANCE

In [ ]:
bureau_balance = pd.read_csv('/content/drive/My Drive/HomeCredit/bureau_balance.csv')
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [ ]:
def aggregate_numeric_fields(df, columns_to_drop, group_by, agg_methods, name_prefix):
    cnt_numeric_fields_statistics = df.drop(columns = columns_to_drop).groupby(group_by, as_index = False).agg(agg_methods).reset_index()

    columns = [group_by]
    for column in cnt_numeric_fields_statistics.columns.levels[0]:
        if column == group_by:
            continue

        for stat in cnt_numeric_fields_statistics.columns.levels[1][:-1]:
            columns.append('{}_{}_{}'.format(name_prefix, column, stat))

    cnt_numeric_fields_statistics.columns = columns

    return cnt_numeric_fields_statistics

In [ ]:
cnt_numeric_fields_statistics = aggregate_numeric_fields(bureau_balance, ['STATUS'], 'SK_ID_BUREAU', ['min', 'mean', 'sum'], 'balance')
status_ohe = one_hot_encoder(bureau_balance)

# И статистику по этому кодированию.

status_ohe_statistics = aggregate_numeric_fields(status_ohe, [], 'SK_ID_BUREAU', ['min', 'max', 'mean', 'sum'], 'balance')

bureau_balance_features = cnt_numeric_fields_statistics.merge(status_ohe_statistics, on = 'SK_ID_BUREAU', how = 'left').fillna(0)
bureau_X_bureau_balance_features = bureau[['SK_ID_CURR', 'SK_ID_BUREAU']].merge(bureau_balance_features, on = 'SK_ID_BUREAU', how = 'left').fillna(0)

# И опять статистику.

bureau_X_bureau_balance_features_features = aggregate_numeric_fields(bureau_X_bureau_balance_features, ['SK_ID_BUREAU'], 'SK_ID_CURR', ['min', 'max', 'mean', 'sum'], 'id')
train = train.merge(bureau_X_bureau_balance_features_features, on = 'SK_ID_CURR', how = 'left').fillna(0)

In [ ]:
train = one_hot_encoder(train)

In [ ]:
train.shape

(307511, 718)

In [ ]:
for col in train.columns: 
  if len(train[col].unique()) == 1:
    train.drop(columns=[col], inplace=True)


# при расчете корреляция появлялись Nanы - из за отсутствия дисперсии в колонках

In [ ]:
train.shape

(307511, 656)

In [ ]:
train.to_csv('/content/drive/My Drive/HomeCredit/train.csv')